.textarea {
    border: none;
    resize: none;
    color: #fff;
    font-family: 'IBM Plex Mono', monospace;
    background-color: tomato;
}
.textarea:not([rows]) {
    height: 100%;
    max-height: 100%;
}
